__pycache__
*.pth*
.autoenv*
runs
build
checkpoints
*.prof
.lvimrc
.vimtags
.ccls
.ccls-cache/
dist/
point_transformer.egg-info/
*.zip
*.so
.tox/
.mypy_cache
**/*.pyc
point_transformer/data/modelnet40_normal_resampled/
point_transformer/data/modelnet40_normal_resampled_cache/
point_transformer/data/modelnet40_ply_hdf5_2048/

.ipynb_checkpoints/
point_transformer/models/test.py
outputs/
.vscode
.DS_Store